/* html settings */
div.content_wrapper {
    width: 100%;
    position: relative;
    min-height: 100vh;
    transition: opacity 500ms ease-in-out;
}

div.hidden_main {
    opacity: 0;
}

/* main settings */

main {
    display: flex;
    flex-wrap: wrap;
    margin: 10px auto;
    max-width: 340px;
    justify-content: space-around;
    padding-bottom: 50px;
}

h1 {
    font-size: 3rem;
    letter-spacing: 0.3rem;
    margin: 0 auto 10px;
    transition: color 250ms ease-in-out;
}

h1:hover {
    color: #CC7722 ;
}

div.name {
    flex-basis: 100%;
}

div.image {
    height: 150px;
    width: 150px;
    overflow: hidden;
    border: 2px solid #dcdcdc;
    transition: border 250ms ease-in-out;
    margin-right: 5px;
}

html.day div.image {
    border: 2px solid #000000;
}

div.image:hover {
    border: 2px solid #CC7722 !important;
}

div.image img {
    height: 400px;
    width: 400px;
    object-fit: cover;
    object-position: -130px -70px;
    border: none;
}

div.list_wrapper li {
    line-height: 2rem;
    font-size: 1.3rem;
    letter-spacing: 0.1rem;
    transition: color 250ms ease-in-out;
}

div.list_wrapper li:hover {
    color: #CC7722;
}

div.skills_wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    flex-basis: 100%;
}

div.skills_wrapper div.skill_h2_wrapper {
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 2rem;
    letter-spacing: 0.4rem;
    flex-basis: 100%;
}

h2 {
    transition: color 250ms ease-in-out;
    width: fit-content;
}

div.skills_wrapper h2:hover{
    color: #CC7722;
}

div.skill_wrapper {
    margin: 0px 20px 20px 0px;
}

svg#skill {
    display: block;
    font-size: 2.5rem;
    color: #dcdcdc !important;
    width: initial;
    height: initial;
    transition: color 250ms ease-in-out;
}

html.day svg#skill {
    color: #000000 !important;
}

div.skill_wrapper:hover > #skill {
    color: #CC7722 !important;
}

@media only screen and (min-width: 480px){
    main {
        width: 460px;
        justify-content: initial;
    }
}

@media only screen and (min-width: 600px){
    main {
        width: 580px;
        max-width: initial;
        justify-content: initial;
    }

    h1 {
        font-size: 4rem;
        letter-spacing: 1rem;
    }

    div.list_wrapper li {
        line-height: 3.2rem;
        font-size: 2rem;
        letter-spacing: 0.2rem;
    }

    div.image {
        height: 240px;
        width: 240px;
        margin-right: 20px;
        border: 2px solid #dcdcdc;
    }
    
    div.image img {
        height: 296px;
        width: 296px;
        border: none;
        object-position: -20px -20px
    }

    div.skills_wrapper {
        justify-content: space-between;
    }

    svg#skill {
        font-size: 2.5rem;
    }

    div.skills_wrapper h2 {
        font-size: 3rem;
    }
}

@media only screen and (min-width: 1200px){
    main {
        width: 1000px;
        margin: 25px auto;
        justify-content: initial;
        padding-bottom: 50px;
    }

    h1 {
        font-size: 6rem;
        letter-spacing: 1.5rem;
        
    }

    div.list_wrapper li {
        line-height: 3.9rem;
        font-size: 3rem;
        letter-spacing: 0.2rem;
    }

    div.image {
        height: 296px;
        width: 296px;
        margin-right: 20px;
        border: 2px solid #dcdcdc;
        
    }
    
    div.image img {
        height: 2906x;
        width: 296px;
        border: none;
        object-position: initial
    }

    div.skills_wrapper h2 {
        font-size: 4rem;
        letter-spacing: 0.4rem;
    }

    svg#skill {
        font-size: 3.5em;
    }
}
