/* animation styles */

div.box {
    width: 50vh;
    height: 50vh;
    flex-basis: 50vh;
    margin: 0 auto  ;
    background-color: #000000;
    z-index: 1;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -25vh;
    margin-left: -25vh;
    display: grid;
    grid-template: 
        "ltop mtop rtop"
        "lmid mmid rmid"
        "lbot mbot rbot"
}

html.day div.box{
    background-color: #dcdcdc;
}

/* animation propertoes */

.animate .big_hole{
    animation: rotateLeftShrink 3s ease-in-out 0s 1 alternate none, growBox 1s ease-in-out 2s 1 alternate forwards, dissipate 750ms ease-in-out 3s 1 alternate forwards;
    -webkit-animation: rotateLeftShrink 3s ease-in-out 0s 1 alternate none, growBox 1s ease-in-out 2s 1 alternate forwards, dissipate 750ms ease-in-out 3s 1 alternate forwards;
}

.animate .small_hole{
    animation: rotateRight 3s ease-in-out 0s 1 alternate none, dissipate 1ms linear 3s 1 alternate forwards;
    -webkit-animation: rotateRight 3s ease-in-out 0s 1 alternate none, dissipate 1ms linear 3s 1 alternate forwards;
}


@keyframes rotateRight {
    10%{
        transform: rotate(0deg);
    }
    50%{
        transform: rotate(90deg);
    }
}

@keyframes rotateLeft {
    10%{
        transform: rotate(0deg);
    }
    50%{
        transform: rotate(-90deg);
    }
}


@keyframes rotateLeftShrink {
    10%{
        transform: rotate(0deg);
    }
    50%{
        transform: rotate(-90deg) scale(0.33);
    }
}

@keyframes growBox {
    0%{
    }
    100%{
        transform: scale(2.66);
    }
}

@keyframes dissipate {
    0% {
    }
    100% {
        opacity: 0;
    }
}

/* hole styles */

div.big_hole {
    background-color: #dcdcdc;
    height: 100%;
    width: 100%;
    align-self: center;
    justify-self: center;
    z-index: 2;
    grid-area: mmid;
    cursor: pointer;
}

html.day div.big_hole {
    background-color: #000000;
}

div.small_hole{
    background-color: #dcdcdc;
    height: 33%;
    width: 33%;
    align-self: center;
    justify-self: center;
    z-index: 2;
}

html.day div.small_hole {
    background-color: #000000;
}

/* small hole positions */

div.small_hole#small_hole1 {
    grid-area: ltop;
}

div.small_hole#small_hole2 {
    grid-area: mtop;
}

div.small_hole#small_hole3 {
    grid-area: rtop;
}

div.small_hole#small_hole4 {
    grid-area: lmid;
}

div.small_hole#small_hole5 {
    grid-area: rmid;
}

div.small_hole#small_hole6 {
    grid-area: lbot;
}

div.small_hole#small_hole6 {
    grid-area: lbot;
}

div.small_hole#small_hole6 {
    grid-area: lbot;
}

