/* font settings */

@font-face { font-family: Eurostile; src: url(../fonts/EuroStyle_Normal.ttf); } 

/* page settings */

html {
    font-size: 16px;
    background-color: #000000;
    color: #DCDCDC;
    font-family: Eurostile, sans-serif;
    letter-spacing: 0.07rem;
}
