/* html settings */
div.content_wrapper {
    width: 100%;
    position: relative;
    min-height: 100vh;
    transition: opacity 750ms ease-in-out;
    display: block;
}

div.hidden {
    opacity: 0;
}

/* main settings */


main {
    display: flex;
    flex-wrap: wrap;
    width: 1000px;
    margin: 25px auto;
    padding-bottom: 50px;
}

@media only screen and (max-width: 480px) {

    main {
        display: flex;
        flex-wrap: wrap;
        margin: 10px;
        width: initial;
        justify-content: space-around;
    }
}

@media only screen and (min-width: 480px) and (max-width: 1024px) {
    main {
        width: 700px;
    }
    h1 {
        font-size: 50px;
    }
}

h1 {
    font-size: 6rem;
    letter-spacing: 1.5rem;
    margin: auto;
}

div.name {
    flex-basis: 100%;
}

div.image {
    height: 300px;
    width: 300px;
    margin-right: 20px;
}

div.image img {
    height: 296px;
    width: 296px;
    border: 2px solid #dcdcdc;
}

div.list_wrapper li {
    line-height: 3.9rem;
    font-size: 3rem;
    letter-spacing: 0.2rem;
}

div.skills_wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    flex-basis: 100%;
}

div.skills_wrapper h2 {
    font-size: 4rem;
    letter-spacing: 0.4rem;
    flex-basis: 100%;
}

div.skills_wrapper i {
    width: 50px;
    font-size: 50px;
    padding-right: 20px;
    padding-bottom: 20px;
}

div.skills_wrapper i[title="figma"] {
    position: relative;
    top: 5px;
    width: 40px;
    font-size: 40px; 
}

@media only screen and (max-width: 480px) {

    h1 {
        font-size: 3rem;
        letter-spacing: 0.4rem;
    }
        
    div.list_wrapper li {
        line-height: 2rem;
        font-size: 1.5rem;
        letter-spacing: 0.1rem;
    }

    div.image {
        height: 150px;
        width: 150px;
        overflow: hidden;
        border: 2px solid #dcdcdc;
        margin-right: 5px;
    }
    
    div.image img {
        height: 400px;
        width: 400px;
        object-fit: cover;
        object-position: -130px -70px;
        border: none;
    }

    div.skills_wrapper h2 {
        margin-top: 20px;
        margin-bottom: 10px;
        font-size: 2rem;
        letter-spacing: 0.4rem;
        flex-basis: 100%;
    }

    div.skills_wrapper i {
        width: 50px;
        font-size: 50px;
        padding-right: 20px;
        padding-bottom: 20px;
    }
    
    div.skills_wrapper i[title="figma"] {
        position: relative;
        top: 5px;
        width: 40px;
        font-size: 40px; 
    }
}
