/* header settings */

header {
    width: 100%;
    height: 50px;
    border-bottom: 3px solid #dcdcdc;
    display: flex;
    align-content: center;
    justify-content: center;
    transition: border-bottom 250ms ease-in-out;
}

html.day header {
    border-bottom: 3px solid #000000;
}

header nav {
    width: 100%;
    display: flex;
    align-content: center;
}

header ul {
    margin: auto;
    display: flex;
    align-content: center;
    justify-content: center;
}

header li {
    margin: 0px 10%
}

header a {
    text-decoration: none;
    font-size: 1.75rem;
    color: #dcdcdc;
    transition: color 250ms ease-in-out;
}

html.day header a {
    color: #000000;
}

header a:hover{
    color: #CC7722 !important;
}


@media only screen and (min-width: 600px){
    header {
        height: 75px;
    }
    header a {
        font-size: 2rem;
    }
}

/* footer settings */

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50px;
    border-top: 1px solid #dcdcdc;
    background-color: #000000;
    transition: background-color 250ms ease-in-out, border-top 250ms ease-in-out;
}

html.day footer {
    border-top: 1px solid #000000;
    background-color: #dcdcdc;
}

div .footer_wrapper {
    width: 100%;
    height: 100%;
    display: flex;
}

footer a {
    text-decoration: none;
    color: #dcdcdc;
    transition: color 0ms ease-in-out;
}

html.day footer a {
    color: #000000
}

footer a:hover{
    color: #CC7722 !important;
    transition: color 250ms ease-in-out !important;
}

footer p {
    font-size: 0.7rem;
    margin: auto;
}

footer i.copy {
    transition: color 0ms ease-in-out;
}

footer i.copy:hover{
    color: #CC7722 !important;
    transition: color 250ms ease-in-out !important;
}

@media only screen and (min-width: 600px){
    footer p {
        font-size: 1.4rem;
    }
}

@media only screen and (min-width: 768px){
    footer {
        height: 75px;
    }
}

/* button day/night styles and animations */

button {
    margin-right: 5px;
    align-self: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #dcdcdc;
    border: 2px solid #dcdcdc;
    cursor: pointer;
    transition: color 500ms ease-in-out, border 500ms ease-in-out, background-color 500ms ease-in-out;
}

html.day button {
    background-color: #000000;
    border: 2px solid #000000;
    color: #dcdcdc;
}

div.hidden {
    display: none !important;
}

div.show {
    display: initial !important;
}

div svg[id$='mode'].iconify {
    display: block;
    margin: auto;
    font-size: 1.5rem;
    color: #000000 !important;
    width: initial;
    height: initial;
    transition: color 250ms ease-in-out;
}

html.day div svg[id$='mode'].iconify {
    color: #dcdcdc !important;
}

div.animate_out svg {
    animation: wiggleAndShrink 900ms ease-in-out 0ms forwards;
    -webkit-animation: wiggleAndShrink 900ms ease-in-out 0ms forwards;
}

div.animate_in svg {
    animation: growAndWiggle 900ms ease-in-out 0s forwards;
    -webkit-animation: growAndWiggle 900ms ease-in-out 0ms forwards;
}

@keyframes wiggleAndShrink {
    0%{
        transform: rotate(0deg);
    }
    50%{
        transform: rotate(90deg);
    }
    100% {
        transform: scale(0.01);
    }
}

@keyframes growAndWiggle {
    0%{
        transform: scale(0.01);
    }
    50%{
        transform: rotate(90deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

@media only screen and (min-width: 768px){
    button {
        margin-right: 10px;
        width: 60px;
        height: 60px;
    }
    div svg[id$='mode'].iconify {
        font-size: 2.5rem;
    }
}